*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
        padding: 0;
    height: 100%;
    width: 100%;
    
}
.header{
    padding: 0rem 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgba(255, 0, 0, 0.34174757281553403) 100%);
}
.logo{
    height: 4rem;

}
.NavItems{
    display: flex;

}
.NavItems li{
    padding: 1rem;
    margin: 1px;
    list-style-type: none;
    font-size: 1.2rem;
}
.cartlogo{
    height: 1.8rem;
}
.search{
    margin: 10px;
}
.res-card{
   
    display: flex;
    flex-direction: column;
    place-self: center;
    /* height: 17rem; */
    width: 14rem;
    box-shadow: 0px 1px 2px rgb(152, 152, 152);
    margin: 10px 0;
    
}

.res-card:hover{
    border: 0.00005rem solid rgb(186, 186, 186);
    box-shadow: 0px 1px 5px rgb(152, 152, 152);
    transform: scale(1.03);
    cursor: pointer;
}
.foodImage{
   margin: 0.1rem ;
height: 7.5rem;
width: 98%;

}

.body{
    width: 100vw;
    margin: 0 auto;
}

.res-container{ 
   
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 150px));
   justify-content: center;
}
.card-data{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.card-data h5{
    color: rgb(134, 134, 134);
}

.footer p{
    text-align: center;
}